<h1>{{title}}</h1>
<h3>{{message}}</h3>
<div class="well well-sm">
    <input type="text" class="form-control" [(ngModel)]="tid">
    <button class="btn btn-info" (click)="getTrainerById()">Search</button>
</div>

<table class="table" *ngIf="trainer">
    <tr>
        <td>ID</td>
        <td><strong>{{trainer.id}}</strong></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><strong>{{trainer.name}}</strong></td>
    </tr>
    <tr>
        <td>Course</td>
        <td><strong>{{trainer.course}}</strong></td>
    </tr>
    <tr>
        <td>Exp</td>
        <td><strong>{{trainer.exp}}</strong></td>
    </tr>
</table>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Course</td>
        <td>Exp</td>
    </tr>
    <tr *ngFor="#t of trainers">
        <td>{{t.id}}</td>
        <td>{{t.name}}</td>
        <td>{{t.course}}</td>
        <td>{{t.exp}}</td>
    </tr>
</table>